/*Schedule list*/

.custom-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-list {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-family: 'Aldrich', sans-serif;
    font-size: 20px;
    padding-left: 0;
    /*opacity: 0;*/
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rectangle-list span {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list span:hover {
    background: #eee;
}

.rectangle-list span:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list span:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list span:hover:after {
    left: -.5em;
    border-left-color: #fa8072;
}

.list-heading {
    width: 100%;
    /*padding-left: 40px;*/
    text-align: center;
    font-size: 35px;
    font-family: 'Share Tech Mono', sans-serif;
}