.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.add-padding {
    padding-top: 50px;
}

.nav-style {
    border-radius: 0px;
    border: 0px;
    opacity: 0.75;
    margin-bottom: 0px;
    z-index: 10;
}

.nav-text {
    font-family: 'Aldrich', sans-serif;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

body,
html {
    height: 100%;
}

.hvr-underline-reveal:before {
    background-color: #f2ae72;
}

.wide {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    /*background-image:url('../images/background.png');*/
    background-size: cover;
}

#particles-js {
    z-index: -20;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.heading {
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 80px;
    /*0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,  0 0 70px #fff, 0 0 80px #fff  , 0 0 100px #fff, 0 0 150px #fff*/
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    /*text-shadow: 0 0 20px #ff0;*/
}

.heading-2 {
    color: #d96459;
    text-shadow: 0 0 5px #d96459, 0 0 10px #d96459;
}

.sub-heading {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 22px;
    color: #588c7e;
}

.logo-back {
    position: absolute;
    height: 200px;
    width: 200px;
    transform: scale(1.5, 1.5);
    /*opacity: 0.8;*/
    filter: blur(4px) brightness(80%);
    -webkit-filter: blur(4px) brightness(80%);
    /*border: 1px solid black;*/
}

.logo {
    height: 200px;
    width: 200px;
    transform: scale(1.5, 1.5);
    opacity: 0.8;
    filter: brightness(180%);
    -webkit-filter: brightness(180%);
    /*border: 1px solid black;*/
}

.register-btn {
    letter-spacing: 2px;
    font-size: 24px;
    font-family: 'Aldrich', sans-serif;
    font-weight: 300;
    padding-top: 1.6rem;
    /*background: #0D6;*/
    background-color: #d96459;
    border: 1px solid #d96459;
    line-height: 1.375;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 700;
    color: black;
    cursor: pointer;
    height: 60px;
    width: 220px;
}

.head-tags {
    font-size: 30px;
    font-family: 'Share Tech Mono', sans-serif;
}

.sub-heading-1,
.sub-heading-2,
.sub-heading-3,
.sub-heading-4,
.sub-heading-5,
.sub-heading-6 {
    width: 0px;
    font-size: 35px;
    font-family: 'Share Tech Mono', sans-serif;
}

.slant-shadow {
    position: absolute;
    z-index: -10;
    filter: drop-shadow(0 0 16px rgba(50, 50, 50, 0.75));
    filter: drop-shadow(0 0 16px rgba(41, 34, 73, 0.75));
    -webkit-filter: drop-shadow(0 0 16px rgba(50, 50, 50, 0.75));
    -webkit-filter: drop-shadow(0 0 16px rgba(41, 34, 73, 0.75));
}

.outer-subpart-1 {
    background-color: #588c7e;
    z-index: 2;
}

.outer-subpart-2 {
    margin-top: 150px;
    padding-bottom: 30px;
    background-color: #588c7e;
    z-index: 2;
}

.outer-subpart-3 {
    margin-top: 150px;
    /*background-color: #588c7e;*/
    z-index: 2;
}

.outer-subpart-4 {
    margin-top: 190px;
    /*margin-bottom: 100px;*/
    background-color: #d96459;
    z-index: 2;
}

.outer-subpart-6 {
    padding-top: 50px;
    margin-top: 190px;
    background-color: #d96459;
    z-index: 2;
    padding-bottom: 100px;
}

.outer-subpart-5 {
    margin-top: 150px;
    /*background-color: #d96459;*/
    z-index: 2;
}

.slant-2 {
    margin-top: 50px;
}

.slant-4 {
    margin-top: 90px;
}

.subpart-1 {
    font-size: 24px;
    /*font-family: 'Share Tech Mono', sans-serif;*/
    font-family: 'Aldrich', sans-serif;
}

.subpart-2 {
    position: relative;
    /*overflow-x: hidden;*/
}

.gear {
    position: absolute;
    height: 250px;
    width: 250px;
    overflow-x: hidden;
    z-index: -20;
    opacity: 0.8;
}

.gear-big {
    top: 530px;
    left: 50px;
}

.gear-small {
    top: 682px;
    left: -12px;
}

.gear-med {
    top: 800px;
    right: 45px;
}

.info-outer {
    margin-top: 150px;
}

.info-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 300px;
    width: 300px;
    background-color: white;
    border-width: 300px;
    border-color: rgba(0, 0, 0, 0);
    opacity: 0.85;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 150px dotted rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.info-box-animate {
    border-width: 0;
    border-color: rgba(0, 0, 0, 0.5);
    border: 0px dashed rgba(0, 0, 0, 0.7);
}

.info-border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    position: relative;
    z-index: 5;
    margin-left: 10px;
    margin-right: 10px;
    width: 320px;
    border: 10px solid rgba(0, 0, 0, 0.3)
}

.info-heading {
    z-index: 10;
    width: 100%;
    text-align: center;
    top: 110px;
    position: absolute;
    letter-spacing: 2px;
    font-size: 54px;
    font-family: 'Share Tech Mono', sans-serif;
    font-weight: 300;
}

.info-text {
    z-index: 9;
    width: 280px;
    left: 10px;
    opacity: 0;
    text-align: center;
    top: 30px;
    font-size: 30px;
    position: absolute;
    font-family: 'Aldrich', sans-serif;
}

.faq {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid rgba(0, 0, 0, 0.3);
    padding-right: 50px;
    padding-left: 50px;
    /*background-color: white;*/
}

.faq-q {
    cursor: pointer;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;
}

.faq-a {
    padding-left: 65px;
    font-family: 'Aldrich', sans-serif;
}

.map-border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 5;
    margin-bottom: 0px;
    border: 4px solid rgba(0, 0, 0, 0.3);
}

.footer {
    height: 50px;
    padding-top: 15px;
    /*padding-bottom: 20px;*/
}

.footer-text {
    color: grey;
    opacity: 0.5;
    font-size: 16px;
    font-family: 'Share Tech Mono', sans-serif;
}

.contact {
    /*font-size: 16px;*/
    padding-top: 20px;
    font-family: 'Share Tech Mono', sans-serif;
}

.contact h2 {
    padding-left: 40px;
}

.contact h3 {
    padding-left: 40px;
}

.contact h4 {
    padding-left: 60px;
}

.pull-right {
    text-align: right;
}