
.nav-style
{
	border-radius: 0px;
	border: 0px;
	opacity: 0.75;
}

.nav-text
{
	font-family: 'Aldrich', sans-serif;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

body,html {
  height: 100%;
}

.wide {
  width:100%;
  height:100%;
  background-image:url('http://placehold.it/1920x1080');
  background-size:cover;
}



.heading
{
	font-family: 'Aldrich', sans-serif;
	font-size: 80px;
	/*text-shadow: 0 0 20px #ff0;*/
}

.sub-heading
{
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 22px;
}

.logo
{
	height:200px;
	width:200px;
	border: 1px solid black;
}

.head-tags
{
	font-size: 30px;
	font-family: 'Share Tech Mono', sans-serif;
}

.sub-heading-1, .sub-heading-2
{
	width:0px;
	font-size: 30px;
	font-family: 'Share Tech Mono', sans-serif;
}
